<% provide(:title, "About") %>
<h2>About</h2>
<p>
  Text, Text, Text, Text, <ins onmouseover="">text</ins><button type="button" onmouseocer="alert('more text')"></button>
</p>
<p id="demo"></p>

<script>
	document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script> 