<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1><%= @spreffis.upcase %></h1>
	<h2>
	</h2>
	<p><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %></p>
</div>
<%= link_to image_tag("SP logo_wt.png", alt: "SP logo"), 'https://scontent.fvno2-1.fna.fbcdn.net/v/t1.0-9/577751_100496573454243_1930394207_n.png?_nc_cat=0&oh=b5df826ba5929c8116011993fa82d44e&oe=5B95B43D' %>